/boston_housing_analysis.py
/csv.csv
/data
/homework.txt
/L01-17_28_GML
/L01-18_28_GML
/L01-19_28_GML
/L01-20_28_GML
/L01-21_28_GML
/L01-22_28_GML
/L01-23_28_GML
/L01-24_28_GML
/L01-25_28_GML
/L01-26_28_GML
/ODQ.code-workspace
/output
/readme.md
/requirements.txt
/scripts
/step1.md
/step2.md
/suumo_scraper.py
/tests
/venv
/__pycache__
/第3回課題その2.docx